.main-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: calc((786 / 16) * 1rem);
  width: 90%;
  margin: auto;
  padding: 5rem 0;
}

.main-list ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.users {
  display: grid;
  place-items: center;
}

ul.users {
  display: grid;
  grid-template-columns: repeat(4, calc((60 / 16) * 1rem));
  justify-content: center;
}

@media (max-width: 768px) {
  .main-list {
    max-width: calc((786 / 16) * 1rem);
    width: 94%;
    margin: auto;
  }
}
